$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap";

$black: #000;
$white: #fff;

$gray-darker: #0f0f15;
$gray-dark: #22212a;
$gray: #686d71;
$gray-light: #bebebe;
$gray-lighter: #eff0f0;

$blue: #5a9bee;
$green: #37c977;
$red: #ff2b2b;
$yellow: #ffe757;
$pink: #ff5777;
$purple: #6348D5;

$cammy: #14a8ca;

$border: #e8e8e9;
$background: #fafafa;

$input-background: #e8f6fa;
$input-border: #c4e9f2;

$navbar-height: 80px;

html {
    -webkit-font-smoothing: antialiased;
}

p {
    font-size: 16px;
}

.sticky-navbar {
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navbar-height;
    width: 100vw;
    background-color: $cammy;

    a {
        font-size: 26px;
        color: $white;
    }
    .cammy-logo {
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }

    .navbar-help-links {
        flex: 0.6;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            margin-right: 15px;
            font-size: 18px;
            color: $white;
        }
    }
}

.customer-feedback-container {
    margin-top: $navbar-height;
    padding: 25px 50px;

    h1 {
        font-weight: 800;

        ~p {
            margin-top: 25px;
        }
    }

    .feedback-form-container {
        margin-top: 40px;

        label {
            font-size: 16px;
            padding-top: 15px;
        }

        input, textarea {
            width: 100%;
            background-color: $input-background;
            border: 1px solid $input-border;
            border-radius: 3px;
            padding: 8px 12px;

            &:focus {
                background-color: $white;
            }
        }

        .send-message-button-wrapper {
            padding-top: 25px;
            padding-bottom: 25px;

            .send-message-button {
                width: 100%;
                border: 1px solid $input-border;
                border-radius: 30px;
                background-color: $cammy;
                padding: 8px 12px;
                font-size: 16px;
                font-weight: 600;
                color: $white;
                outline: none;
          
                &:disabled {
                    background-color: $gray-light;
                }
            }
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.show-spinner {
    margin-left: 20px;
    animation-name: rotate;
    animation-duration: 0.9s;
    transform: rotate(0deg);
    animation-iteration-count: infinite;
}
