$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap";

$black: #000;
$white: #fff;

$gray-darker: #0f0f15;
$gray-dark: #22212a;
$gray: #686d71;
$gray-light: #bebebe;
$gray-lighter: #eff0f0;

$blue: #5a9bee;
$green: #37c977;
$red: #ff2b2b;
$yellow: #ffe757;
$pink: #ff5777;
$purple: #6348D5;

$cammy: #14a8ca;

$border: #e8e8e9;
$background: #fafafa;

$input-background: #e8f6fa;
$input-border: #c4e9f2;

$navbar-height: 80px;

html {
    -webkit-font-smoothing: antialiased;
}

p {
    font-size: 16px;
}

.sticky-navbar {
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
    top: 0px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navbar-height;
    width: 100vw;
    background-color: $cammy;

    a {
        font-size: 26px;
        color: $white;
    }
    .cammy-logo {
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }

    .navbar-help-links {
        flex: 0.6;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            margin-right: 15px;
            font-size: 18px;
            color: $white;
        }
    }

    .navbar-toggle-button {
        display: none;
    }
    
    @media (max-width: 992px) {
        .navbar-toggle-button {
            display: block;
            box-shadow: none;
            border: 1px solid $white;
            border-radius: 34px;
            padding: 5px 20px;
            color: $white;
            font-weight: 600;
            cursor: pointer;
        }

        .display-none {
            display: none;
        }

        .navbar-help-links {
            flex-direction: column;
            top: $navbar-height;
            left: 0px;
            position: fixed;
            width: 100%;
            border: 2px solid $cammy;
            background-color: $white;

            a {
                width: 100%;
                text-align: center;
                color: $cammy;
                padding: 10px 0px;
                border-bottom: 1px solid $cammy;
            }
        }
    }
}

.customer-feedback-container {
    margin-top: $navbar-height;
    padding: 25px 50px;

    h1 {
        font-weight: 800;

        ~p {
            margin-top: 25px;
        }
    }

    .feedback-form-container {
        margin-top: 40px;

        label {
            font-size: 16px;
            padding-top: 15px;
        }

        input, textarea {
            width: 100%;
            background-color: $input-background;
            border: 1px solid $input-border;
            border-radius: 3px;
            padding: 8px 12px;

            &:focus {
                background-color: $white;
            }
        }

        .send-message-button-wrapper {
            padding-top: 25px;
            padding-bottom: 25px;

            .send-message-button {
                width: 100%;
                border: 1px solid $input-border;
                border-radius: 30px;
                background-color: $cammy;
                padding: 8px 12px;
                font-size: 16px;
                font-weight: 600;
                color: $white;
                outline: none;
          
                &:disabled {
                    background-color: $gray-light;
                }
            }
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.show-spinner {
    margin-left: 20px;
    animation-name: rotate;
    animation-duration: 0.9s;
    transform: rotate(0deg);
    animation-iteration-count: infinite;
}

.error-message {
    background-color: $pink;
    border: 1px solid $pink;
    border-radius: 34px;
    font-weight: 600;
    font-size: 18px;
    color: $white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.full-screen-modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 10000;

    .modal-content {
        height: 200px;
        font-size: 20px;
        font-weight: 600;
        margin: auto;
        max-width: 400px;
        text-align: center;
        top: 30%;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.intl-tel-input {
    &.country-list {
        width: 100%;
    }

    ul.country-list {
        width: 100%;
    }
}